body{
    margin: 0px;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 150px;
    background-color: #0077B6;
}

.logo{
    height: 24px;
}   

li, a{
    font-family: "Montserrat", sans-serif;
    font-weight: normal;
    font-size: 14px;
    color: #F6F6F6;
    text-decoration: none;
} 

nav ul{
    list-style: none;
    text-align: center;
}
nav ul li{
    display: inline-block;
} 

nav ul li a{
    position: relative;
    z-index: 1;
    display: block;
    padding: 5px 10px;
    text-decoration: none;

}

nav ul li a:hover{
    color: #FFCB74;
    font-weight: bold;
}

.nav2{
    list-style: none;
}
.nav2 ul{
    margin: 0px;
    
}
.nav2 li{
    padding: 0px 4px;
}
.fa:hover{
    color: #FFCB74;
}

.dropbtn {
    background-color: transparent;
    color: white;
    padding: 12px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 12px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #0077B6;}
  
  .dropdown:hover .dropdown-content {display: block;}

.judul{
    display: flex;
    justify-content: space-between;
    margin: 30px 320px 0px 320px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 16px;
    border-bottom: 1px solid gainsboro;
}

.edit{
    background-color: #e7e7e7;
    color: #000000;
    font-size: 12px;
    font-weight: bold;
    padding: 6px 12px;
    border-radius: 10px;
    margin: 10px;
    border: none;
    cursor: pointer;
}

.edit:hover{
    background-color: #FFCB74;
    color: #000000;
    font-weight: bold;
}

table{
    width: 60%;
    border-collapse: collapse;
    border-radius: 10px;
    text-align: left;
    background-color: #e7e7e7;
    color:#000000;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 80px;
}

td,th{
    padding: 15px;
    border-bottom: 1px solid #ffffff;
}

.profil{
    width: 30%;
    background-color: #0077B6;
    color: #F6F6F6;
    font-weight: bold;
}
  